<h1 class="display-4">Editing Tag</h1>

<%= render "form", tag: @tag %>

<br>

<div class="btn-group" role="group" aria-label="Tag navigation">
  <%= button_to "Show this tag", @tag, class: "btn btn-secondary", method: :get %>
  <%= button_to "Back to tags", tags_path, class: "btn btn-secondary", method: :get %>
</div>

